// Construction component styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; // TEST property
}

.construction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    padding: 5em 2em 2em 2em; 
    height: 100vh;
    overflow: hidden;

}

.logo {
    height: 12em;
    padding: 1.5em;
}
